<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Unsubscribe | Mindspun</title>
</head>
<body>
<main class="position-absolute top-0 bottom-0 w-100 text-center">
    <section class="m-5">
        <h1>Re-subscribe successful</h1>
        <p class="lead">Welcome!<p>
        <p class="muted">
            You have been successfully re-subscribed.<br>
            If you did this in error, you may unsubscribe by clicking the button below.
        </p>
        <a href="unsubscribe?id={{contact_id}}" class="btn btn-primary m-3">Re-subscribe</a>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
